# Ignore .env file containing sensitive data
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directory
venv/

# Ignore IDE-specific files (if you're using VSCode)
.vscode/

# Ignore log files
*.log
